.contact-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--background-color);
}

.contact-content {
  flex: 1;
  padding-right: 40px;
  text-align: left;
}

.contact-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-content p {
  margin-bottom: 15px;
}

.contact-form {
  flex: 1;
  text-align: center;
}

.form-input,
.form-textarea {
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  width: 100%;
  background-color: var(--section-bg);
  color: var(--text-color);
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.submit-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

.resume-download {
  margin-top: 20px;
  text-align: left;
}

.resume-download a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: none;
  color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}

.resume-download a:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-content {
    padding-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-form {
    width: 100%;
    align-items: center;
  }
}